
@import './common';

@import './utils/reset';
@import'./utils/container';
@import './utils/variables';
@import './utils/mixins';
@import './utils/reset';
@import './utils/placeholders';

@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer';
@import './layout/contacts';
@import './layout/footer';
