/*Кольори*/

$accent-color: #D41443;
$primary-color: #000000;
$secondary-color: #907E82;
$white-color: #FFFFFF; 
$label-title-color: #FFA5BA;
$border-color: #E1E1E1;

$bgc-body: #FFFFFF;
$bgc-body-pink: #FFF5F6;
$bgc-hero: #FFB8CA;
$bgc-product-1: #F0D1A5;
$bgc-product-2: #FFB8CA;
$bgc-product-3: #C2E297;
$bgc-customer-reviews: #FAFAFA;
$bgc-footer: #FFF5F6;
$bgc-mobile-menu: #E17992;
$bgc-btn-primary: #D41342;