/*Кольори*/

$accent-color: #d41443;
$primary-color: #000000;
$secondary-color: #907e82;
$white-color: #ffffff;
$label-title-color: #ffa5ba;
$border-color: #e1e1e1;
$soc-icon: #fea5bb;

$bgc-body: #ffffff;
$bgc-body-pink: #fff5f6;
$bgc-hero: #ffb8ca;
$bgc-product-1: #f0d1a5;
$bgc-product-1-overlay: #ebbf8a;
$bgc-product-2: #ffb8ca;
$bgc-product-3: #c2e297;
$bgc-product-3-overlay: #b1d285;
$bgc-products-bd-1: rgb(196, 85, 85);
$bgc-products-bd-2: rgb(132, 101, 44);
$bgc-products-bd-3: rgb(67, 109, 61);
$bgc-customer-reviews: #fafafa;
$bgc-footer: #fff5f6;
$bgc-mobile-menu: #e17992;
$bgc-btn-primary: #d41342;

$function-products: cubic-bezier(0.4, 0, 0.2, 1);
