<section class="container about">
        <p class="about__toptext">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <picture class="about__image-top">
            <source media="(min-width: 320px)" srcset="/src/images/abouttop1x.png 1x, /src/images/abouttop1x.png 2x">
            <img src="/src/images/abouttop1x.png" alt="cow" width="280" height="279">
        </picture>
        <p class="about__text-up">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
             Maecenas eleifend erat at justo fringilla.</p>
        <picture class="about__image">
            <source media="(min-width: 320px)" srcset="/src/images/milk1x.png 1x, /src/images/milk2x.png 2x">
            <img src="/src/images/milk1x.png" alt="milk">
        </picture> 
        <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
             Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, 
             tincidunt.</p>
        <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>    
        <button class="about__btn">Read more<svg class="about__btn-svg" width="8" height="10"><use href="/src/images/symbol-defs.svg#icon-VectorAbout-1"></use></svg></button>
</section>