<section class="container advantages">
    <div class="advantages__box">
        <h2 class="advantages__title"></h2>
        <ul class="advantages__list">
            <li class="advantages__card advantages__card--cow">
                <h3 data-num="721" class="advantages__item" id="counter">0</h3>
                <p lang="la" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__card advantages__card--аpple">
                <h3 data-num="16" class="advantages__item" id="counter">0</h3><span class="weight">kg</span>
                <p lang="la" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__card advantages__card--heart">
                <h3 data-num="84" class="advantages__item" id="counter">0</h3>
                <p lang="la" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>