<section class="advantages">
    <div class="advantages__box">
        <h1 class="advantages__title"></h1>
        <ul>
            <li class="advantages__card advantages__card--cow">
                <h2 class="advantages__item">721</h2>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__card advantages__card--аpple">
                <h2 class="advantages__item">16kg</h2>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__card advantages__card--heart">
                <h2 class="advantages__item">84</h2>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>