<section class="container advantages">
    <div class="advantages__box">
        <h2 class="advantages__title"></h2>
        <ul class="advantages__list">
            <li class="advantages__card advantages__card--cow">
                <h3 class="advantages__item">721</h3>
                <p lang="la" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__card advantages__card--аpple">
                <h3 class="advantages__item">16kg</h3>
                <p lang="la" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__card advantages__card--heart">
                <h3 class="advantages__item">84</h3>
                <p lang="la" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>