<section class = "contact__section" id="contacts">
    <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact">
        <li class="contact__card">
            <div class="contact__card--location">
                <p class="type type--cafe">Cafe</p>
                <h3 class="city">Chicago</h3>
                <p class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            
                <ul class="shedule">
                    <li class="shedule__item">
                        <p class="shedule__item--day">Monday - Friday</p>
                        <p class="shedule__item--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="shedule__item">
                        <p class="shedule__item--day">Saturday - Sunday</p>
                        <p class="shedule__item--time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            
            
                
                    <ul class="contact__info">
                        <li>
                            <a href="tel:+610383766284 " class="contact__info--link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contact__info--link">noreply@envato.com</a>
                        </li>
                    </ul>
                
            
        </li>
        <li class="contact__card">
            <div class="contact__card--location">
                <p class="type type--foodtruck">foodtruck</p>
                <h3 class="city">Los Angeles</h3>
                <p class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            
                <ul class="shedule">
                    <li class="shedule__item">
                        <p class="shedule__item--day">Monday - Friday</p>
                        <p class="shedule__item--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="shedule__item">
                        <p class="shedule__item--day">Saturday - Sunday</p>
                        <p class="shedule__item--time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            
                
                    <ul class="contact__info">
                        <li>
                            <a href="tel:+610383766284 " class="contact__info--link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contact__info--link">noreply@envato.com</a>
                        </li>
                    </ul>
                
            
        </li>
        <li class="contact__card">
            <div class="contact__card--location">
                <p class="type type--cafe">Cafe</p>
                <h3 class="city">New York</h3>
                <p class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            
                <ul class="shedule">
                    <li class="shedule__item">
                        <p class="shedule__item--day">Monday - Friday</p>
                        <p class="shedule__item--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="shedule__item">
                        <p class="shedule__item--day">Saturday - Sunday</p>
                        <p class="shedule__item--time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            
                
                    <ul class="contact__info">
                        <li>
                            <a href="tel:+610383766284 " class="contact__info--link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contact__info--link">noreply@envato.com</a>
                        </li>
                    </ul>
                
            
        </li>
    </ul>
    <ul class="button__section">
        <li class="button__section--item">
            <button type="button" class="button__location" data-modal-open>Our Locations <svg height="10" width="12" class="icon__location">
                <use href="./images/icon.svg#icon-next"></use>
            </svg></button>
        </li>
        <li class="button__section--item">
            <button type="button" class="button__franchise" data-modal-franchise-open>Franchise <svg height="10" width="12" class="icon__franchise">
            <use href="./images/icon.svg#icon-next"></use>
            </svg></button>
        </li>
    </ul>

    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="modal__close" data-modal-close> 
                <svg width="20" height="20">
                    <use href="./images/icon.svg#icon-close-btn"></use>
                </svg> 
            </button>
            <h2 class="modal__title"> Our Location </h2>
            
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=13GIcrbubG6Oi7zyp2x3WmFkS7AygoBA&ehbc=2E312F" class="modal__map"></iframe>
        </div>
    </div>
    
    <div class="backdrop is-hidden" data-modal-franchise>
        <div class="modal">
            <button type="button" class="modal__close" data-modal-franchise-close>
                <svg width="14" height="14">
                    <use href="./images/icon.svg#icon-close-btn"></use>
                </svg>
            </button>
            <h2 class="modal__title"> Leave your details to discuss cooperation </h2>
            <form>
                <ul class="modal-form__list">
                    <li class="modal-form__list--item">
                        <label class="modal-form__label">
                            First Name
                            <input type="text" class="modal-form__input">
                        </label>
                    </li>
                    <li class="modal-form__list--item">
                        <label class="modal-form__label">
                            Last Name
                            <input type="text" class="modal-form__input">
                        </label>
                    </li>
                    <li class="modal-form__list--item">
                        <label class="modal-form__label">
                            Email
                            <input type="email" class="modal-form__input">
                        </label>
                    </li>
                    <li class="modal-form__list--item">
                        <label class="modal-form__label">
                            Phone Number
                            <input type="tel" class="modal-form__input">
                        </label>
                    </li>
                    <li class="modal-form__list--item">
                        <label class="modal-form__label">
                            Comment
                            <textarea class="modal-form__comment" name="comment" placeholder="Your Messagge"></textarea>
                        </label>
                    </li>
                </ul>
                <button type="submit" class="modal-form__submit">
                    Send
                </button>
            </form>
        </div>
        
    </div>
    
    <div class="anchor">
        <a href="#hero" class="anchor-link">
            go top
        </a>
    </div>
    
    </div>

    
    <script src="./js/modal.js"></script>
</section>