<section>
    <h2>Contacts</h2>
    <ul class="contact">
        <li class="contact__card">
            <div class="contact__card--location">
                <p class="type type--cafe">Cafe</p>
                <h3 class="city">Chicago</h3>
                <p class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contact__card--shedule">
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
            </div>
            <div class="">
                <address>
                    <ul>
                        <li>
                            <a href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </div>
        </li>
        <li class="contact__card"></li>
        <li class="contact__card"></li>
    </ul>
</section>