<article class="reviews container">
    <h3 class="visually-hidden">Customer Revievs</h3>
    <div class="rev__slider">
        <div class="slide">
            <picture>
                <source
                srcset="
                ./images/reviews/david-1x.png 1x,
                ./images/reviews/david-2x.png 2x"
                >
                <img 
                class="slide__photo" 
                src="./images/reviews/david-1x.png" 
                alt="Davis's photo"
                width="85"
            >
            </picture>
            
            <div class="slide__text-box">
                <p class="slide__text">
                    Best ice cream in town!!!! The ice cream is amazing and there are many varieties of ice cream. Ice cream are classic, but they are also unusual.
Taste's as if you are having a real fruit. 
                </p>
            </div>
            <p class="slide__name">David, Los Angeles</p>
        </div>

        <div class="slide">
            <picture>
                <source
                srcset="
                ./images/reviews/abigail-1x.png 1x,
                ./images/reviews/abigail-2x.png 2x"
                >
                <img 
                class="slide__photo" 
                src="./images/reviews/abigail-1x.png" 
                alt="Abigail's photo"
                width="85"
            >
            </picture>
            
            <div class="slide__text-box">
                <p class="slide__text">
                    Organic bio ice cream, without any synthetic aromas but with real fruits and other ingredients added. Large variety, even no sugar. More than reasonable price (hope to stay like that :)) 
                </p>
            </div>
            <p class="slide__name">Abigail, Chicago</p>
        </div>

        <div class="slide">
            <picture>
                <source
                srcset="
                ./images/reviews/isabella-1x.png 1x,
                ./images/reviews/isabella-2x.png 2x"
                >
                <img 
                class="slide__photo" 
                src="./images/reviews/isabella-1x.png" 
                alt="Isabella's photo"
                width="85"
            >
            </picture>
            
            <div class="slide__text-box">
                <p class="slide__text">
                    What would our world be without ice cream… Ice Cream: the cool, wet, delicious, scrumptious, tasteful, blissful, heavenly, wonderful, delightful, divine, lovely, fantastic, brilliant, magnificent snack. 
                </p>
            </div>
            <p class="slide__name">Isabella, New York</p>
        </div>

        <div class="slide">
            <picture>
                <source
                srcset="
                ./images/reviews/jacob-1x.png 1x,
                ./images/reviews/jacob-2x.png 2x"
                >
                <img class="slide__photo" 
                src="./images/reviews/jacob-1x.png" 
                alt="Jacob's photo"
                width="85"
            >
            </picture>
            
            <div class="slide__text-box">
                <p class="slide__text">
                    Just go there! You won't be disappointed! The icream is just amazing! Good and vast flavours. highly recommended to everyone. I would eat this ice cream any time. WOW! Amazing! 
                </p>
            </div>
            <p class="slide__name">Jacob, New York</p>
        </div>

        <div class="slide">
            <picture>
                <source
                srcset="
                ./images/reviews/lisa-1x.png 1x,
                ./images/reviews/lisa-2x.png 2x"
                >
                <img class="slide__photo" 
                src="./images/reviews/lisa-1x.png" 
                alt="Lisa's photo"
                width="85"
            >
            </picture>
            
            <div class="slide__text-box">
                <p class="slide__text">
                    ‘Ice Creams’…….. they really have the potential to turn a bad day into a bright one and a bright day into the brightest one ! The taste and the variety of ice cream is WOW! Ice cream is my bestttttt!!!
                </p>
            </div>
            <p class="slide__name">Lisa, New York</p>
        </div>

        <div class="slide">
            <picture>
                <source
                srcset="
                ./images/reviews/olivia-1x.png 1x,
                ./images/reviews/olivia-2x.png 2x"
                >
                <img 
                class="slide__photo" 
                src="./images/reviews/olivia-1x.png" 
                alt="Olivia's photo"
                width="85"
            >
            </picture>
            
            <div class="slide__text-box">
                <p class="slide__text">
                    Eating ice cream makes me happy. It’s a mouth-watering dessert for everyone. The ice cream is creamy and has a great taste. Some flavours are really unique. I highly reccomend it!!!
                </p>
            </div>
            <p class="slide__name">Olivia, Chicago</p>
        </div>

        <div class="slide">
            <picture>
                <source
                srcset="
                ./images/reviews/william-1x.png 1x,
                ./images/reviews/william-2x.png 2x"
                >
                <img 
                class="slide__photo" 
                src="./images/reviews/william-1x.png" 
                alt="William's photo"
                width="85"
            >
            </picture>
            
            <div class="slide__text-box">
                <p class="slide__text">
                    The tastes the ice creams here are like eating the real fruit itself! You can't possibly eat anywhere else if you once tried this! The variety of there ice cream is just awesome and enormous. :)
                </p>
            </div>
            <p class="slide__name">William, Florida</p>
        </div>
    </div>
</article>