<article class="reviews container">
    <h3 class="visually-hidden">Customer Revievs</h3>
    <div class="rev__slider">
        <div class="slide">
            <img class="slide__photo" src="./images/reviews/emily.png" alt="фото">
            <div class="slide__text-box">
                <p class="slide__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <p class="slide__name">Emily, Los Angeles</p>
        </div>

        <div class="slide">
            <img class="slide__photo" src="./images/reviews/emma.png" alt="фото">
            <div class="slide__text-box">
                <p class="slide__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <p class="slide__name">Emma, Chicago</p>
        </div>

        <div class="slide">
            <img class="slide__photo" src="./images/reviews/anna.png" alt="фото">
            <div class="slide__text-box">
                <p class="slide__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <p class="slide__name">Anna, New York</p>
        </div>
    </div>
</article>
