<section class="gallery" id="aboutus">
  <div class="container--gallery">
    <h2 class="visually-hidden">Ice-cream gallery</h2>
    <ul class="grid">
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery1-desk.jpg    1x,
              ./images/gallery1-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery1-tab.jpg    1x,
              ./images/gallery1-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery1-mob.jpg    1x,
              ./images/gallery1-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery1-mob.jpg"
            alt="Green ice-cream"
          />
        </picture>
      </li>
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery2-desk.jpg    1x,
              ./images/gallery2-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery2-tab.jpg    1x,
              ./images/gallery2-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery2-mob.jpg    1x,
              ./images/gallery2-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery2-mob.jpg"
            alt="Ice-cream cone"
          />
        </picture>
      </li>
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery3-desk.jpg    1x,
              ./images/gallery3-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery3-tab.jpg    1x,
              ./images/gallery3-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery3-mob.jpg    1x,
              ./images/gallery3-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery3-mob.jpg"
            alt="Raspberry ice-cream"
          />
        </picture>
      </li>
      <li class="grid__item grid__item--big">
        <picture>
          <source
            srcset="
              ./images/gallery4-desk.jpg    1x,
              ./images/gallery4-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery4-tab.jpg    1x,
              ./images/gallery4-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery4-mob.jpg    1x,
              ./images/gallery4-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery4-mob.jpg"
            alt="Many ice-cream cones"
          />
        </picture>
      </li>
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery5-desk.jpg    1x,
              ./images/gallery5-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery5-tab.jpg    1x,
              ./images/gallery5-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery5-mob.jpg    1x,
              ./images/gallery5-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery5-mob.jpg"
            alt="Girl eating ice-cream"
          />
        </picture>
      </li>
      <li class="grid__item grid__item--top">
        <picture>
          <source
            srcset="
              ./images/gallery6-desk.jpg    1x,
              ./images/gallery6-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery6-tab.jpg    1x,
              ./images/gallery6-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery6-mob.jpg    1x,
              ./images/gallery6-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery6-mob.jpg"
            alt="Ice-cream in plates"
          />
        </picture>
      </li>
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery7-desk.jpg    1x,
              ./images/gallery7-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery7-tab.jpg    1x,
              ./images/gallery7-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery7-mob.jpg    1x,
              ./images/gallery7-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery7-mob.jpg"
            alt="Red ice-cream"
          />
        </picture>
      </li>
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery8-desk.jpg    1x,
              ./images/gallery8-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery8-tab.jpg    1x,
              ./images/gallery8-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery8-mob.jpg    1x,
              ./images/gallery8-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery8-mob.jpg"
            alt="Dog eating ice-cream"
          />
        </picture>
      </li>
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery9-desk.jpg    1x,
              ./images/gallery9-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery9-tab.jpg    1x,
              ./images/gallery9-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery9-mob.jpg    1x,
              ./images/gallery9-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery9-mob.jpg"
            alt="Frappuccino"
          />
        </picture>
      </li>
      <li class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery10-desk.jpg    1x,
              ./images/gallery10-desk@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery10-tab.jpg    1x,
              ./images/gallery10-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery10-mob.jpg    1x,
              ./images/gallery10-mob@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="grid__img"
            src="./images/gallery10-mob.jpg"
            alt="Donut ice-cream"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
