<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="nav__logo-link" href="">
        <svg width="199" height="50" class="nav__logo-icon">
          <use href="./images/img-header/symbol-defss.svg#icon-logo"></use></svg
      ></a>
    </nav>
    <button class="menu-btn-open" type="button">
      <svg width="20" height="12" class="menu-btn_icon">
        <use href="./images/img-header/symbol-defss.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden">
    <div class="container">
      <div class="mob-menu_top">
        <button class="mob-menu__btn-close" type="button">
          <svg width="14" height="14" class="mob-menu__icon">
            <use href="./images/img-header/symbol-defss.svg#icon-close"></use>
          </svg>
        </button>
        <button class="mob-menu__btn" type="button">
          Buy now
          <svg width="8" height="11" class="mob-menu__btn-icon">
            <use href="./images/img-header/symbol-defss.svg#icon-vector"></use>
          </svg>
        </button>
        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Home</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">About us</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#products">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script src="./js/menu.js"></script>
