<header class="header">
  <div class="header-container container">
    <nav class="nav">
      <a class="nav__logo" href="">
        <svg width="199" height="50" class="nav__logo-icon">
          <use href="./images/img-header/symbol-defss.svg#icon-logo"></use></svg
      ></a>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#hero">Home</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#aboutus">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="menu-btn-open" type="button">
      <svg width="20" height="12" class="menu-btn_icon">
        <use href="./images/img-header/symbol-defss.svg#icon-Burger"></use>
      </svg>
    </button>
    <button class="header-btn btn" type="button">
      Buy now
      <svg width="8" height="11" class="mob-menu__btn-icon">
        <use href="./images/img-header/symbol-defss.svg#icon-vector"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu is-hidden">
    <div class="mob-menu__top">
      <div class="mob-menu__container">
        <button class="mob-menu__btn-close" type="button">
          <svg width="14" height="14" class="mob-menu__icon">
            <use href="./images/img-header/symbol-defss.svg#icon-close"></use>
          </svg>
        </button>
        <button class="mob-menu__btn btn" type="button">
          Buy now
          <svg width="8" height="11" class="mob-menu__btn-icon">
            <use href="./images/img-header/symbol-defss.svg#icon-vector"></use>
          </svg>
        </button>
        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#hero">Home</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#aboutus">About us</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#about">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#products">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-backdrop is-hidden">
    <div class="header-modal">
      <button class="header-modal__btn-close" type="button">
        <svg width="14" height="14" class="mob-menu__icon">
          <use href="./images/img-header/symbol-defss.svg#icon-close"></use>
        </svg>
      </button>
      <p class="modal-form__title">Select your product</p>
      <form>
        <div class="header-modal_container">
          <p class="form__title title">ICE CREAM</p>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="kulfi"
            />
            Kulfi - 6$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="sherbet"
            />
            Sherbet - 5$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="frozen yogurt"
            />
            Frozen Yogurt - 7$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="soft serve"
            />
            Soft Serve - 8$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="gelato"
            />
            Gelato - 6$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="vanilla"
            />
            Vanilla - 8$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="sorbet"
            />
            Sorbet - 6$
          </label>
          <p class="form__title-coffee title">ICE COFFEE</p>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="cappuccino"
            />
            Cappuccino - 3$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="cortado "
            />
            Cortado - 4$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="latte"
            />
            Latte - 3$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="red eye"
            />
            Red Eye - 4$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="mocha"
            />
            Mocha - 3$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="raf"
            />
            Raf - 3$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="nitro"
            />
            Nitro - 4$
          </label>
          <p class="form__title-milks title">MILKSHAKES</p>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="vanilla special"
            />
            Vanilla special - 6$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="apple pie puff"
            />
            Apple pie puff - 9$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="neapolitan"
            />
            Neapolitan - 7$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="pina colada"
            />
            Pina colada - 6$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="cool mint"
            />
            Cool mint - 8$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="choc malt"
            />
            Choc malt - 7$
          </label>
          <label class="modal-label">
            <input
              class="modal-input"
              type="checkbox"
              name="hobby"
              value="cheesecake"
            />
            Cheesecake - 8$
          </label>
          <div class="modal_btn-container">
            <button type="submit" class="modal__btn">
              Order
              <svg width="8" height="11" class="mob-menu__btn-icon">
                <use
                  href="./images/img-header/symbol-defss.svg#icon-vector"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
<script src="./js/header-menu.js"></script>
