




<section class="hero" id="hero">
    <div class="container hero__container">
<picture class="hero__crem">
            <source 
            srcset=" ./images/mob_hero/d_hero_crem1x-min.png  1x, 
                     ./images/mob_hero/d_hero_crem2x-min.png  2x "
            media="(min-width: 1200px)"
            />
    
            <source 
            srcset=" ./images/mob_hero/t_hero_crem1x-min.png  1x, 
                     ./images/mob_hero/t_hero_crem2x-min.png  2x "
            media="(min-width: 768px)"
            />
            <source 
            srcset=" ./images/mob_hero/m_hero_crem1x-min.png  1x, 
                     ./images/mob_hero/m_hero_crem2x-min.png  2x "
            media="(min-width: 320px)"
            />
           
    
            <img src=" ./images/mob_hero/m_hero_crem1x-min.png"
            alt=" веб разроботка " 
             width="236"  />
    
    </picture>


<div class="hero__left">
    <h1 class="hero__title">ice cream made with <span class="hero__primary"> passion</span></h1>
<ul class="hero__button">

    <li><a href="#products" class="hero__one" >Products</a></li>
    <li><a href="#about" class="hero__two">How it’s made?</a></li>

</ul>
<div class="hero__couple">
<picture class="hero__milk">
        <source 
        srcset=" ./images/mob_hero/d_hero_milk1x-min.png 1x, 
                ./images/mob_hero/d_hero_milk2x-min.png 2x "
        media="(min-width: 1200px)"
        />

        <source 
        srcset=" ./images/mob_hero/t_hero_milk1x-min.png 1x, 
                ./images/mob_hero/t_hero_milk2x-min.png 2x "
        media="(min-width: 768px)"
        />
       

        <img src=" ./images/mob_hero/d_hero_milk1x-min.png "
        alt=" веб разроботка " 
         width="213"  />

</picture>


<p class="hero__paragraph">Every caring parent knows 
    how important it is to monitor the nutrition of 
    the child. This question becomes especially important
     when you choose sweets to pamper your little one.
     </p>
    
</div>
<button class="hero__snap hero__arrow">
    <svg class="hero__icon" width="18px" height="18px">
    <use href=' ./images/symbol-products.svg#icon-arrow-right'>
   </use> </svg> </button>
</div>

<div class="hero__right">
<ul class="hero__list">
    <li class="hero__item hero__class hero__make">16</li>
    <li class="hero__item">cafes</li>
    <li class="hero__item hero__class">23</li>
    <li class="hero__item">food trucks</li>
</ul>
<div class="hero__girl">
    <img src=" ./images/mob_hero/t_herogr1x-min.png "
    >
</div>
<!-- <picture class="hero__crem"> -->
    <!-- <source 
    srcset=" ./images/mob_hero/d_hero_girl1x-min.png  1x, 
    _./images/mob_hero/d_hero_grl2x-min.png_ 2x "
    media="(min-width: 1200px)"
    />

    <source 
    srcset=" ./images/mob_hero/t_hero_girl1x-min.png  1x, 
             ./images/mob_hero/t_hero_girl2x-min.png  2x "
    media="(min-width: 768px)"
    />
    -->


    <!-- <img src=" ./images/mob_hero/m_hero_girl1x-min.png "
    alt=" веб разроботка " 
     width="236"  /> -->

 <!-- </picture> -->



</div></div>
</section>  