<section class="hero" id="hero">
    <div class="container hero__container">
<picture class="hero__crem">
            <source 
            srcset=" ./images/mob_hero/d_hero_crem1x-min.png  1x, 
                     ./images/mob_hero/d_hero_crem2x-min.png  2x "
            media="(min-width: 1200px)"
            />
    
            <source 
            srcset=" ./images/mob_hero/t_hero_crem1x-min.png  1x, 
                     ./images/mob_hero/t_hero_crem2x-min.png  2x "
            media="(min-width: 768px)"
            />
            <source 
            srcset=" ./images/mob_hero/m_hero_crem1x-min.png  1x, 
                     ./images/mob_hero/m_hero_crem2x-min.png  2x "
            media="(min-width: 320px)"
            />
           
    
            <img src=" ./images/mob_hero/m_hero_crem1x-min.png"
            alt=" веб разроботка " 
             width=""  />
    
    </picture>


<div class="hero__left">
    <h1 class="hero__title">ice cream made with <span class="hero__primary"> passion</span></h1>
<ul class="hero__button">
    <li><a href="#products" class="hero__one" >Products</a></li>
    <li><a href="#about" class="hero__two">How it’s made?</a></li>
</ul>
<div>
<picture class="hero__milk">
        <source 
        srcset="./images/mob_hero/d_hero_milk1x-min.png 1x, 
                ./images/mob_hero/d_hero_milk2x-min.png 2x "
        media="(min-width: 1200px)"
        />

        <source 
        srcset="./images/mob_hero/t_hero_milk1x-min.png 1x, 
                ./images/mob_hero/t_hero_milk2x-min.png 2x "
        media="(min-width: 768px)"
        />
       

        <img src=" ./images/mob_hero/d_hero_milk1x-min.png "
        alt=" веб разроботка " 
         width=""  />

</picture>

<p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>

</div>
<div class="hero__right">
<ul class="hero__list">
    <li class="hero__item hero__class">16</li>
    <li class="hero__item">cafes</li>
    <li class="hero__item hero__class">23</li>
    <li class="hero__item">food trucks</li>
</ul>
<picture class="hero__girl">
    <source 
    srcset="./images/mob_hero/d_hero_girl1x-min.png 1x, 
            ./images/mob_hero/d_hero_girl2x-min.png 2x "
    media="(min-width: 1200px)"
    />

    <source 
    srcset="./images/mob_hero/t_hero_girl1x-min.png 1x, 
            ./images/mob_hero/t_hero_girl2x-min.png 2x "
    media="(min-width: 768px)"
    />
   

    <img src=" ./images/mob_hero/d_hero_girl1x-min.png "
    alt=" веб разроботка " 
     width="320px"  />

</picture>
</div></div>
</section>  