<section class="hero">
    <div class="container hero__container">
        <div class="hero__ice"><img src=" ./images/hero_img1x.png" alt="ice cream"></div>
</div>
    <h1 class="hero__title">ice cream made with <span class="hero__primary"> passion</span></h1>
<ul class="hero__button">
    <li><a href="#products" class="hero__one" >Products</a></li>
    <li><a href="#about" class="hero__two">How it’s made?</a></li>
</ul>
</div>
<picture class="hero__img"></picture>
<p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<ul class="hero__list">
    <li class="hero__item hero__class">16</li>
    <li class="hero__item">cafes</li>
    <li class="hero__item hero__class">23</li>
    <li class="hero__item">food trucks</li>
</ul>

</section>  