<section class="prodacts" id="products">
  <div class="container">
    <p class="prodacts__text">100% natural</p>
    <h2 class="prodacts__title">products</h2>
    <ul class="product-card">
      <li class="product-card__item product-card__item--cream">
        <h3 class="product-card__title">ice cream</h3>

        <p class="product-card__text">
          Whether you like yours smooth and creamy, sweet and tangy or fruity
          and frosty, there is an ice cream variety for every taste.
        </p>
        <div class="product-card__overlay product-card__overlay--cream">
          <h3 class="product-card__title-price">price</h3>
          <ul class="product-card__item-price">
            <li>Kulfi - 6$</li>
            <li>Sherbet - 5$</li>
            <li>Frozen Yogurt - 7$</li>
            <li>Soft Serve - 8$</li>
            <li>Gelato - 6$</li>
            <li>Vanilla - 8$</li>
            <li>Sorbet - 6$</li>
          </ul>
        </div>

        <button
          class="button-product button-product--cream"
          type="button"
          data-modal-open
        >
          <svg class="button-product__icon" width="20px" height="20px">
            <use href="./images/symbol-products.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="product-card__item product-card__item--coffee">
        <h3 class="product-card__title">ice coffee</h3>

        <p class="product-card__text">
          First of all, the cup must be heated. Pour finely ground coffee into a
          cup. Pour coffee with hot water at a t - of 96-98C.
        </p>
        <div class="product-card__overlay product-card__overlay--coffee">
          <h3 class="product-card__title-price">price</h3>
          <ul class="product-card__item-price">
            <li>Cappuccino - 3$</li>
            <li>Cortado - 4$</li>
            <li>Latte - 3$</li>
            <li>Red Eye - 4$</li>
            <li>Mocha - 3$</li>
            <li>Raf - 3$</li>
            <li>Nitro - 4$</li>
          </ul>
        </div>

        <button class="button-product button-product--coffee">
          <svg class="button-product__icon" width="20px" height="20px">
            <use href="./images/symbol-products.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="product-card__item product-card__item--milkshakes">
        <h3 class="product-card__title">milkshakes</h3>
        <p class="product-card__text">
          To make 1 milkshake, place 4 scoops vanilla ice-cream and 1/2 cup milk
          in a blender. Blend until thick and smooth.
        </p>
        <div class="product-card__overlay product-card__overlay--milkshakes">
          <h3 class="product-card__title-price">price</h3>
          <ul class="product-card__item-price">
            <li>Vanilla special - 6$</li>
            <li>Apple pie puff - 9$</li>
            <li>Neapolitan - 7$</li>
            <li>Pina colada - 6$</li>
            <li>Cool mint - 8$</li>
            <li>Choc malt - 7$</li>
            <li>Cheesecake - 8$</li>
          </ul>
        </div>
        <button class="button-product button-product--milkshakes">
          <svg class="button-product__icon" width="20px" height="20px">
            <use href="./images/symbol-products.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
