<section class="prodacts">
  <p class="prodacts__text">100% natural</p>
  <h2 class="prodacts__title">products</h2>
  <ul class="product">
    <li class="product-card__item product-card__item--cream">
      <h3 class="product-card__title">ice cream</h3>
      <p class="product-card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button class="button__product-card"></button>
    </li>
    <li class="product-card__item product-card__item--coffee">
      <h3 class="product-card__title">ice coffee</h3>
      <p class="product-card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button class="button__product-card"></button>
    </li>
    <li class="product-card__item product-card__item--milkshakes">
      <h3 class="product-card__title">milkshakes</h3>
      <p class="product-card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button class="button__product-card"></button>
    </li>
  </ul>
</section>
