// комент
footer {
  background-color: #fff5f6;
}

.footer_text-container {
  margin-bottom: 40px;
  width: 234px;
}

.footer_text {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffa5ba;
}

.footer_main-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 0;
  margin-bottom: 40px;
}

.footer_social-container {
  margin-bottom: 43px;
  text-align: right;
}

.footer_icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 40px;
}

.footer_social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: $white-color;

  & .footer_icon {
    width: 32px;
    height: 32px;
    fill: $soc-icon;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .footer_icon,
  &:focus .footer_icon {
    fill: $accent-color;
  }
}

.footer_li {
  margin-right: 28px;
  &:last-child {
    margin-right: 0;
  }
}

.footer_contact {
  margin-top: 46px;
}

.footer_contact-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  text-align: right;

  color: rgba(0, 0, 0, 1);
}

.footer_contact-num {
  color: rgba(212, 20, 67, 1);
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-decoration: none;
  /* or 22px */

  text-align: right;
}

.footer_watermark-container {
  margin: 0 auto;
  width: 150px;
}

.footer_watermark-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */

  text-align: center;

  color: #907e82;
}

.line {
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}
