.hero {
  width: 100%;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
  background: $bgc-hero;
  overflow: hidden;
  position: relative;
 
  &::after{
    content:'';
    top:40%;
    left: 50%;
    z-index: 0;
    width: 346px;
    height: 346px;
    border-radius: 50%;
    position: absolute;
    background: $label-title-color;
    position: absolute;
    transform: translate(-37%, -35%);
   
  }
 

.hero__ice{
  img{
    z-index: 1;
    width: 171px;
    display: block;
    position: relative;
   transform: translate(65%, -50%);
   
  }
}
 
}
.hero__container{
  position: relative;
  z-index: 3;
}
.hero__title{
 
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.15;
letter-spacing: 0.04em;
text-transform: uppercase;

color: $white-color;
width: 218px;
height: 106px;
padding-top: 151px;
  }
 

.hero__primary{
    color:$accent-color;
    font-size: 48px;
  }
.hero__button{
  display: flex;
  margin-top: 120px;
}
.hero__one{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 1.25;
display: flex;
align-items: center;
text-align: center;
color: $white-color;
background:$accent-color;
border-radius: 20px;
border: 0px solid transparent;
display: inline-block;
min-width: 62px;
height: 24px;
margin-right: 9px;
}
.hero__one:hover,
.hero__one:focus{
  background-color: #ECEBEB;
}
.hero__two{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 1.25;
display: flex;
align-items: center;
text-align: center;
color: $accent-color;
background: $white-color;
border-radius: 20px;
border: 0px solid transparent;
min-width: 83px;
height: 24px;
padding-left: 15px;

}
.hero__two:hover,
.hero__two:focus{
  background-color: #ECEBEB;
color: #d41443; }
.hero__paragraph{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.43;
color: $white-color;
@media screen and (max-width: 767px) {
    display: none;
}
   
}

.hero__item{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
text-align: right;
color: $white-color;
@media screen and (max-width: 767px) {
  display: none;
}
}
.hero__class{
    font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 1.15;

text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $accent-color;
}
