
.hero {
  width: 100%;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 32px ;
  background: $bgc-hero;

background-image: url(../images/hero_img1x.png),url(../images/mob_hero/Ellipse1x.png);
background-repeat: no-repeat;
background-position: bottom;
background-position-x: 80%;





}





 


 

.hero__title{
 
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.15;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #ffffff;
width: 218px;
height: 106px;
padding-top: 152px;


}

.hero__primary{
  color:$accent-color;
  font-size: 48px;
}
.hero__button{
display: flex;
margin-top: 120px;
}
.hero__one{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 1.25;
display: flex;
align-items: center;
text-align: center;
color: $white-color;
background:$accent-color;
border-radius: 20px;
border: 0px solid transparent;
display: inline-block;
min-width: 62px;
height: 24px;
margin-right: 9px;
}
.hero__two{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 1.25;
display: flex;
align-items: center;
text-align: center;
color: $accent-color;
background: $white-color;
border-radius: 20px;
border: 0px solid transparent;
min-width: 83px;
height: 24px;
padding-left: 15px;
}
.hero__paragraph{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.43;
color: $white-color;
@media screen and (max-width: 767px) {
  display: none;
}
 
}
.hero__item{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
text-align: right;
color: $white-color;
@media screen and (max-width: 767px) {
display: none;
}
}
.hero__class{
  font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 1.15;
text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $accent-color;
}
