.prodacts {
  padding: 60px 20px;
}

.prodacts__text {
  @extend %box-text;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;

  margin: 0px 0px 15px;

  color: $label-title-color;
}

.prodacts__title {
  @extend %box-text;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;

  margin: 0;
  padding-bottom: 8px;

  color: $accent-color;
}

.product {
  @extend %list;
}

.product-card__item {
  position: relative;

  width: 100%;
  max-width: 280px;
  min-height: 489px;

  text-align: center;

  padding: 160px 40px 40px;
  margin: 140px auto 0;
}

.product-card__item--cream {
  background: $bgc-product-2;
  border-radius: 24px;
}

.product-card__item--cream::before {
  content: '';
  display: inline-blok;
  position: absolute;
  top: -140px;
  left: 0;

  width: 100%;
  height: 280px;

  background-image: url('../images/ice-cream@320_1x.png');
  background-size: cover;
  background-position: center;
}

.product-card__item--coffee {
  background: $bgc-product-1;
  border-radius: 24px;
}

.product-card__item--coffee::before {
  content: '';
  display: inline-blok;
  position: absolute;
  top: -140px;
  left: 0;

  width: 100%;
  height: 280px;
  background-image: url('../images/coffee@320_1x.png');
  background-size: cover;
  background-position: center;
}

.product-card__item--milkshakes {
  background: $bgc-product-3;
  border-radius: 24px;
}

.product-card__item--milkshakes::before {
  content: '';
  display: inline-blok;
  position: absolute;
  top: -140px;
  left: 0;

  width: 100%;
  height: 280px;
  background-image: url('../images/milkshakes@320_1x.png');
  background-size: cover;
  background-position: center;
}

.product-card__title {
  @extend %box-text;

  font-family: 'Titan One';

  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;

  color: $white-color;

  margin: 0px 0px 32px;
}

.product-card__text {
  font-family: 'DM Sans';

  font-weight: 700;
  font-size: 14px;
  line-height: 152%;

  text-align: center;
  letter-spacing: 0.04em;

  color: $bgc-body;

  margin: 0px 0px 32px;
}

.button__product-card {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: 0;

  background-color: $bgc-body;
  background-image: url('../images/inr-arrow-right.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  margin-right: auto;
  margin-left: auto;
}
